<!DOCTYPE html>
<html>
<head>
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="../static/css/recipe.css">
    <style type="text/css" >
    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
    </style>
    <script type="text/javascript">
    function toggleLike(button) {
        button.classList.toggle("liked")
    }
</script>
</head>
<body>
        <a href="/search" id="arrow-button"><i class="fas fa-arrow-circle-right">Back </i></a>

    <h1>Favorite recipes</h1>
    {% if favorite_recipe is not none %}
        <div class="recipe-container">
            {% for recipe in favorite_recipe %}
                <div class="recipe-box">
                    <h3>{{ favorite_recipe[recipe]['title'] }}</h3>
                    <img id="myBtn" src="{{ favorite_recipe[recipe]['image'] }}" alt="{{ favorite_recipe[recipe]['title'] }}">
                    <div id="myModal" class="modal">
                    <p>Ingredients:</p>
                    <ul>

                        {% for ingredient in favorite_recipe[recipe]['ingredient'] %}
                            <li>{{ingredient['text']}}</li>
                        {% endfor %}
                    </ul>

                    <br>

                    <div class="instr">
                        <p><a href="{{ favorite_recipe[recipe]['url'] }}" target="_blank"><button>Instructions</button></a></p>
                    </div>

                    <div class="post-footer">

                    </div>

                    </div>
                </div>
                {% if loop.index % 2 == 0 %}
                    <div style="clear: both;"></div>
                {% endif %}
            {% endfor %}
        </div>
    {% elif query %}
        <p>No recipes found for '{{ query }}'.</p>
    {% endif %}
</body>
</html>
