<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ukko/celiac</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    
    <style>
        body {
            background-color: #FDF3D0; 
            font-family: "Roboto", sans-serif; 
            text-align: center;
            margin-top: 100px;
        }

        #get_started button {
            background-color: #edd328; 
            color: #000000; 
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #get_started button:hover {
            background-color: #A0A0A0; 
        }
    </style>
</head>
<body>
    
    <a href="/signin" id="get_started"><button>Get started</button></a>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
