<!DOCTYPE html>
<html>
<head>
    <title>Recipe Search App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Recipe Search App</h1>
    <form action="/recipes" method="post">
        <label for="food_query">Enter Food Item:</label>
        <input type="text" id="food_query" name="food_query" required>
        <button type="submit">Search</button>
    </form>

    {% if recipes is not none %}
    <h2 class="results-heading">Results for '{{ query }}':</h2>
    <ul>
        {% for recipe in recipes %}
            <li class="recipe-item">
                <h3 class="recipe-title">{{ recipe['label'] }}</h3>
                <p class="ingredients-label">Ingredients:</p>
                <ul class="ingredient-list">
                    {% for ingredient in recipe['ingredients'] %}
                        <li class="ingredient">{{ ingredient['text'] }}</li>
                    {% endfor %}
                </ul>
                <p class="instructions-label">Instructions and further information in the link below:</p>
                <p class="recipe-link"><a href="{{ recipe['url'] }}" target="_blank">{{ recipe['url'] }}</a></p>
                <img class="recipe-image" src="{{ recipe['image'] }}" alt="{{ recipe['label'] }}">
            </li>
        {% endfor %}
    </ul>
    {% elif query %}
        <p class="no-results">No recipes found for '{{ query }}'.</p>
    {% endif %}
</body>
</html>
