<!DOCTYPE html>
<html>
<head>
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="../static/css/recipe.css">
    <style type="text/css" >
    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
    </style>
    <script type="text/javascript">
    function toggleLike(icon) {
        icon.classList.toggle("liked");
        var form = icon.closest("form");
        form.submit();
    }
</script>
</head>
<body>
    <h1>Recipes</h1>
    {% if recipes is not none %}
        <div class="recipe-container">
            {% for recipe in recipes %}
                <div class="recipe-box">
                    <h3>{{ recipe['label'] }}</h3>
                    <img id="myBtn" src="{{ recipe['image'] }}" alt="{{ recipe['label'] }}">
                    <div id="myModal" class="modal">
                    <p>Ingredients:</p>
                    <ul>
                        {% for ingredient in recipe['ingredients'] %}
                            <li>{{ ingredient['text'] }}</li>
                        {% endfor %}
                    </ul>

                    <br>

                    <div class="instr">
                        <p><a href="{{ recipe['url'] }}" target="_blank"><button>Instructions</button></a></p>
                    </div>

                    <div class="post-footer">
                        <form method="post" action="/recipe/<string:food_query>">
                            <input type="hidden" name="title" value="{{ recipe['label'] }}">
                            <input type="hidden" name="image" value="{{ recipe['image'] }}">
                            <input type="hidden" name="ingredient" value="{{ recipe['ingredients'] }}">
                            <input type="hidden" name="url" value="{{ recipe['url'] }}">
                            <i class="fas fa-heart like-button" onclick="toggleLike(this)">
                            </i>
                            </input>
                        </form>
                    </div>

                    </div>
                </div>
                {% if loop.index % 2 == 0 %}
                    <div style="clear: both;"></div>
                {% endif %}
            {% endfor %}
        </div>
    {% elif query %}
        <p>No recipes found for '{{ query }}'.</p>
    {% endif %}
</body>
</html>
