<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<center>
  <div class="center">
    <div class="container">
      <form method="post" action="/signup">
        <h3>Create an account</h3>
        <p>Please fill up your information below to join!.</p>
         <div>
          <label>Name*</label>
          <input type="text" name="name" id="nameStr" required>
        </div>
        <div>
          <label>Email address*</label>
          <input type="email" name="email" id="emailStr" required>
        </div>
        <div>
          <label>Password*</label>
          <input type="password" name="password" minlength="6">
        </div>
        <div>
            <br>
          <input type="submit" value="Sign Up">
        </div>
      </form>
      <br>
    </div>
  </div>
</center>
</body>
</html>
